<p>
    <%if(locals.user.id == comment.user.id) {%>
        <a href="/comments/destroy/<%=comment.id%>"class="comment-list">delete</a>
        <%}%>
    <li><%=comment.content%></li>
    <li><%=comment.user.name%></li>
</p>