
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = 'stylesheet' type="text/css" href="/css/home.css">
    <link rel = 'stylesheet' type= "text/css" href="/css/header.css">
    <title>Document</title>
</head>
<body>
    <%- include('partials/header') %>
    <h1>Welcome <%=title%></h1>
    <section>
        <center>
       <h2>POSTS</h2>
       <form action="/posts/create" method="post">
        <textarea name="content"  cols="30" rows="3" placeholder="Type Here"></textarea>
        <input type="submit" value="Post">
       </form>
    </center>
    </section>
    
    <%- include('partials/footer') %>
</body>
</html>
