
   
    <div id="homepage-container">
            
    <%- include('partials/posts.ejs') %>

    <section id="friends-section">
        <h1>Friends</h1>
        <%for(u of all_users){%>
            <p style="margin-left:5px ;">
            <a href="users/profile/<%=u.id%>"><%=u.name%></a>
        </p>
        <%}%>
    </section>
</div>
    
        
    