
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = 'stylesheet' type="text/css" href="/css/home.css">
    <link rel = 'stylesheet' type= "text/css" href="/css/header.css">
    <title>Document</title>
</head>
<body>
    <%- include('partials/header') %>
    <section>
        <h1>Welcome <%=title%></h1>
        <p>This is the content of Page 1.</p>
    </section>
    
    <%- include('partials/footer') %>
</body>
</html>
