.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    width: 300px;
    background-color: #f9f9f9;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .user-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .user-text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  
  .comments {
    /* border-top: 1px solid #ccc; */
    padding-top: 15px;
    overflow-y: auto;
    border: 1px solid black;
    margin-top: 5px;
    height: 40px;
    border-radius: 8px;
    background-color: white;
  }
  
  .comment {
    margin-bottom: 10px;
  }
  
  .comment strong {
    font-weight: bold;
  }
  
  .comment p {
    margin: 5px 0;
  }
  